.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navList {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 10px;
    transition: color 0.3s;
}

.navLink:hover {
    color: antiquewhite;
}

.active {
    color: white;
    font-weight: bold;
}